<div class='container'>
<% if params[:genre] %>
    <ul class='pager'>
        <li class='previous'><a href='#' id='prev'>&larr; Prev</a></li>
        <li class='next'><a href='#' id='next'>Next &rarr;</a></li>
    </ul>
<% end %>
<%= render 'more' %>
</div>
<% if params[:genre] %>
    <ul class='pager'>
        <li class='previous'><a href='#' id='prev'>&larr; Prev</a></li>
        <li class='next'><a href='#' id='next'>Next &rarr;</a></li>
    </ul>
<% end %>
<% if !params[:genre] %>
    <h2>Choose a genre below to browse and rate albums.</h2>
<% end %>
<script>
$(function(){
    $('.next').click(function(e){
        e.preventDefault();
        $.ajax({
            method: 'get',
            url: 'newuser/next_albums',
            data: {genre: '<%= @genre %>'},
            success: function(data){
                $('#albums').fadeOut('slow', function(){
                    $(this).replaceWith(data);
                    $('#albums').fadeIn('slow');
                });
            }
        });
    });
    $('.previous').click(function(e){
        e.preventDefault();
        $.ajax({
            method: 'get',
            url: 'newuser/prev_albums',
            data: {genre: '<%= @genre %>'},
            success: function(data){
                $('#albums').fadeOut('slow', function(){
                    $(this).replaceWith(data);
                    $('#albums').fadeIn('slow');
                });
            }
        });
    });
});
</script>
<%= render '/genres' %>
