
.aside {
    float: left;
    /*width: 200px;*/
    height: 400px;
    border-radius: 5px;
    background-color: #f8f8f8;
    border: 1px solid #eee;
    padding: 10px;
    margin: 0px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}
input[readonly] {
            background-color: white !important;
            cursor: text !important;
        }