<nav class='navbar navbar-default navbar-fixed-top' role='navigation'>
    <div class='navbar-header'>
    	<button type='button' class='navbar-toggle' data-toggle='collapse' data-target='#goodlistens-nav'>
    		<span class='sr-only'>Toggle Navigation</span>
			<span class='icon-bar'></span>
			<span class='icon-bar'></span>
			<span class='icon-bar'></span>
		</button>    	
        <a href='/' class='navbar-brand'>goodlistens</a>
    </div>
    <div class='collapse navbar-collapse' id='goodlistens-nav'>
    <ul class='nav navbar-nav'>
        <li class=''><a href="/home">Home</a></li>
        <li class=''><a href="/browse">Browse</a></li>
        <% if request.fullpath != '/chat' %>
            <li class=''><a href='/chat' onclick="window.open(this.href, 'Chat',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">Chat</a></li>
        <% end %>
    </ul>
    <form class="navbar-form navbar-left" role="search" method='get' action='/search' id='searchForm'>
      <div class="form-group">
        <input name="authenticity_token" value="" type="hidden">
        <input type="text" class="form-control" placeholder="Search" name='search'>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <% if request.fullpath == '/chat' %>
    <audio controls style='margin-top:10px;'>
        <% @u = current_user.id.to_s %>
        <source src="" type='audio/mpeg'/>
    </audio>
    <script type="text/javascript">
    $(function(){
        if(window.innerWidth < 786){
            var audio = $('audio').detach();
            audio.insertAfter($("#chatForm"));
        }
    });
    </script>
    <% end %>
    <ul class='nav navbar-nav pull-right'>
        <% if user_signed_in? %>
            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
        <% else %>
            <li><%= link_to "Sign in", new_user_session_path %></li>
        <% end %>
    </ul>
    </div>
</nav>
