<div class='container'>
<div class='row col-md-8'>
<h1>Welcome to goodlistens!</h1>
<h4>goodlistens provides a social network
for people interested in sharing their interests in music.</h4>
<h2><%= link_to 'Take a tour' %></h2>
<div id="user-widget">
<% if user_signed_in? %>
    Welcome <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
<% end %>
</div>
</div>
<div class='row col-md-4'
<%= render 'form' %>
</div>
</div>